<html>
<head>
{% load staticfiles %}

<script src="{% static 'aaev/material.min.js' %}"></script>
<script src="{% static 'aaev/getmdl-select.min.js' %}"></script>
<script src="{% static 'aaev/DjangoAjax.js' %}"></script>
<script src=" {% static 'aaev/jquery.js' %}"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<script>

$(document).ready(function(){

	
	/*$("#submitSolicitud").click(function(event){
		event.preventDefault();
		var iduniversidad = $("#iduniversidad").val();
		var idcarrera = $("#idcarrera").val();
		var idmateria = $("#menuMateria :selected").val();
		var url =iduniversidad  + "/" + idcarrera + "/" + idmateria + "/"; 
		if (idmateria==0){
			var html = "<h4> Por favor elegi una materia. </h4>";
			$("#errorForm").html(html);
			$("#errorForm").show();
		} else{
			//$.post(url, {idmateria: idmateria, mensaje: mensaje});
			$("#formularioEnvio").submit();
		}
	//jquery validator: buscar
	});*/

});

</script>
<style>
.error{
	color: red;
	font-size: 12px !important;
}	

</style>
<body>

	{% if mensaje %}
	<div class="mdl-cell--12-col"> 
		<h4 class="error"> {{mensaje}} </h4>
	</div>
	{% endif %}
	{% if materias %}
		<div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label mdl-cell is-dirty is-upgraded">
			<select id="menuMateria" name="menuMateria" class="mdl-selectfield__select menuMateria">
			  	<option   value="0" selected="selected"> Elegir...</option> 
			    {% for materia in materias %}
			    	<option   value="{{materia.idmateria}}"> {{materia.nombre}} </option>
			    {% endfor %}
			</select>
			
			<label class="mdl-selectfield__label" for="menuMateria">Seleccione materia</label>
			<span class="mdl-selectfield__error">Elegi materia</span>
		</div>


		<div class="error" style="display: none;" id="errorForm">

		</div>			
		<input type="hidden" value={{iduniversidad}} id="iduniversidad">
		<input type="hidden" value={{idcarrera}} id="idcarrera">
							
	
	{% endif %}
</body>
</html>