
<html>		
<head>	

</head>
<style>


.error{
	color: red;
	font-size: 12px !important;
}	


option{
	font-family: 'Roboto','Helvetica','Arial',sans-serif;
}
</style>
<script>

$(document).ready(function(){
	componentHandler.upgradeAllRegistered();
	$("#menuCarrera").on('change', function(){
	//$("#carreraOpcion").click(function(event){ //lo que clickee queda en el select
		var elegido= $("#menuCarrera :selected").val();
		if (elegido != 0){
			var carrera= $(this).val();
			$("#dropCarrera").val($(this).text());
			var universidad= $("#iduniversidad").val();
			$.ajax({
				method: "POST",
				url: universidad + "/" +carrera + "/",
				data: {iduniversidad: universidad, idcarrera: carrera},
				success: function(respuesta){
					$("#materiasElegir").html(respuesta);
					$("#materiasElegir").show();
					componentHandler.upgradeAllRegistered();
				}
				
			

			});
		}
	});


});

</script>
<body>	
	{% if mensaje %}
		<div class="mdl-cell"> 
			<h4 class="error"> {{mensaje}} </h4>
		</div>

	{% else %}
	<div>
		<div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label  is-dirty is-upgraded">
			<select id="menuCarrera" class="mdl-selectfield__select">
			  	<option value="0" selected="selected"> Elegir...</option> 
			    {% for carrera in carreras %}
			    	<option value="{{carrera.idcarrera}}"> {{carrera.nombre}} </option>
			    {% endfor %}
			</select>
			<label class="mdl-selectfield__label" for="menuCarrera">Seleccione carrera</label>
			<span class="mdl-selectfield__error">Elegi carrera</span>
		</div>

		
							  	
							   
							
							  								
		<input type="hidden" value={{iduniversidad}} id="iduniversidad">

		<div id="materiasElegir" style="text-align: -webkit-center; display: none;">

		</div>
	</div>
	{% endif %}
</body>
</html>