<html>
<head>

<title> AAEV 2.0: ADMINISTRAC&oaccute;N </title>


{% load staticfiles %}

<script src="{% static 'aaev/material.min.js' %}"></script>
<script src=" {% static 'aaev/jquery.js' %}"></script>
<script src=" {% static 'aaev/jquery.validate.min.js' %}"></script>
<script src=" {% static 'aaev/DjangoAjax.js' %}"></script>
<script src=" {% static 'aaev/validaciones/inicioSesionValidarv1.1.js' %}"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="{% static 'aaev/material.css' %}"></link>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
<meta charset="UTF-8"/>
</head>
<script type="text/javascript">

	$("#login").click(function(){

		$("#iniciarSesion").validate();


	});
</script>

<body>

<!-- Square card -->
<style>

label.error{
	color: red;
}


.demo-card-square.mdl-card {
  width: 420px;
  height: auto;
  text-align: -webkit-center;
}

   
</style>
<!--titulo AAEV 2.0-->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<header class="mdl-layout__header">
		<div class= "mdl-layout__header-row">
			<span class="mdl-layout-title" style="color: white;"> AAEV 2.0 </span>
			<div class="mdl-layout-spacer"></div>
		</div>
	</header>
	<main class="mdl-layout__content" style="text-align: -webkit-center;">
		<div class="page-content">
			<div class="">
				<div class="demo-card-square mdl-card mdl-shadow--8dp mdl-cell " 
				style="margin-top: 5%; margin-bottom: 5%;">
					<div class="mdl-card__title mdl-card--expand">
						<h2 class="mdl-card__title-text">Ingreso</h2>
					</div>
				  <div class="mdl-card__supporting-text ">
					<form action=" {% url 'aaev:ingresar' %}" method="POST" name="iniciarSesion"
					 id="iniciarSesion">
					{% csrf_token %}
					  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" id="mail" name="mail">
						<label class="mdl-textfield__label" for="mail">Usuario</label>
					  </div>
					  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="password" id="clave" name="clave">
						<label class="mdl-textfield__label" for="clave">Clave</label>
					  </div>
					  {% if mensaje %}
						<h5 style="color: red;"> {{mensaje}} </h5>
						<h5> {{nombre}} </h5>
					  {% endif %}
					  {% if form.errors %}
						
						<div>
							<strong style="color: red;">ASEGURATE DE COMPLETAR TODOS LOS CAMPOS</strong>
						</div>
					
					  {% endif %}
				  </div>
					
					  <div class="mdl-card__actions mdl-card--border mdl-cell mdl-cell--12-col-desktop mdl-cell--4-col-phone">
						<input type="submit" name="login" id="login" value="Ingresar"
						class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
						<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'aaev:registro' %}">Registrarse</a>
						
					  </div>
						<!--<div class="mdl-layout-spacer"></div> -->	
					</form>

				</div>
			</div>
		</div>
	</main>
</div>


</body>
</html>